// Device Visibility
.desktop-only {
  display: none;
}

.mobile-only {
  display: initial;
}

@media screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: initial;
  }
}

// Typography
.body {
  font-size: $body-mobile;
}

.subtitle {
  font-size: $subtitle-mobile;
}

.title {
  font-size: $title-mobile;
}

.logo-size {
  font-size: $logo-size-mobile;
}

.body-text {
  font-size: $body;
}

.body-mobile-text {
  font-size: $body-mobile;
}

.subtitle-text {
  font-size: $subtitle;
}

.subtitle-mobile-text {
  font-size: $subtitle-mobile;
}

.title-text {
  font-size: $title;
}

.title-mobile-text {
  font-size: $title-mobile;
}

// Responsive Typographic Styles
@media screen and (min-width: 768px) {
  .body {
    font-size: $body;
  }

  .subtitle {
    font-size: $subtitle;
  }

  .title {
    font-size: $title;
  }

  .logo-size {
    font-size: $logo-size;
  }
}

// Alignment classes
.flex {
  display: flex !important;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.middle {
  text-align: center;
}

.justify {
  text-align: justify;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

// Top Alignment
.top-left {
  align-items: flex-start;
  justify-content: flex-start;
}

.top-center {
  align-items: flex-start;
  justify-content: center;
}

.top-right {
  align-items: flex-start;
  justify-content: flex-end;
}

// Center Alignments
.center-left {
  align-items: center;
  justify-content: flex-start;
}

.center {
  align-items: center;
  justify-content: center;
}

.center-right {
  align-items: center;
  justify-content: flex-end;
}

// Right Alignments
.bottom-left {
  align-items: flex-end;
  justify-content: flex-start;
}

.bottom-center {
  align-items: flex-end;
  justify-content: center;
}

.bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}

// Justify
.space-between {
  align-items: center;
  justify-content: space-between;
}

.space-around {
  align-items: center;
  justify-content: space-around;
}

.space-evenly {
  align-items: center;
  justify-content: space-evenly;
}

// Form Elements
.form-element {
  border-radius: $form-element-radius;
}

// Color
.primary {
  background-color: $primary !important;
}

.primary-text {
  color: $primary !important;
}

.secondary {
  background-color: $secondary !important;
}

.secondary-text {
  color: $secondary !important;
}

.black {
  background-color: $black !important;
}

.black-text {
  color: $black !important;
}

.dark {
  background-color: $dark !important;
}

.dark-text {
  color: $dark !important;
}

.light-gray {
  background-color: $light-gray !important;
}

.light-gray-text {
  color: $light-gray !important;
}

.lighter-gray {
  background-color: $lighter-gray !important;
}

.lighter-gray-text {
  color: $lighter-gray !important;
}

.faint-gray {
  background-color: $faint-gray !important;
}

.faint-gray-text {
  color: $faint-gray !important;
}

.alert {
  background-color: $alert !important;
}

.alert-text {
  color: $alert !important;
}

.success {
  background-color: $success !important;
}

.success-text {
  color: $success !important;
}

.warning {
  background-color: $warning !important;
}

.warning-text {
  color: $warning !important;
}

// Transform
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.smallcaps {
  text-transform: small-caps;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  margin-bottom: 0.5rem;
}

@mixin heading {
  font-family: $font-family;
  display: block;
  color: $dark;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 1rem;
}

.h1 {
  font-weight: $bold-font-weight;
  font-size: 6rem;
  @include heading;
}

.h2 {
  font-weight: $base-font-weight;
  font-size: 3rem;
  @include heading;
}

.h3 {
  font-weight: $bold-font-weight;
  font-size: 1.5rem;
  @include heading;
}

.p {
  font-weight: $base-font-weight;
  font-size: 1rem;
  color: $dark;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.header {
  margin: 2rem 0;
  img {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.1s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.button {
  &--primary {
    display: inline-block;
    border-radius: $radius;
    text-decoration: none;
    padding: 10px 30px;
    border: 1px solid $primary;
    color: $primary;
    background-color: $white;
    transition: background-color 0.2s ease;
    &:hover {
      color: $white;
      background-color: $primary;
    }
  }
  &--grey {
    display: inline-block;
    border-radius: $radius;
    text-decoration: none;
    padding: 10px 30px;
    border: 1px solid $dark;
    color: $dark;
    background-color: $white;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: $primary;
    }
  }
}
