// Font families
$font-family: 'Source Sans Pro', -apple-system, blinkmacsystemfont, 'Segoe UI',
roboto, 'Helvetica Neue', arial, sans-serif;

// Font sizes
$body-mobile: 14px;
$subtitle-mobile: 20px;
$title-mobile: 24px;
$logo-size-mobile: 20px;

$body: 16px;
$subtitle: 24px;
$title: 36px;
$logo-size: 42px;

// Font weights
$base-font-weight: 300;
$bold-font-weight: 600;
