
// Color
$base-font-color: #333;
$primary: #2F80ED;
$secondary: #FFDA69;
$alert: #EB5757;
$success: #27AE60;
$warning: #F2C94C;
$white: #FFF;
$light-gray: #F0F0F0;
$lighter-gray: #FCFCFC;
$faint-gray: #AAA;
$black: #000;
$dark: #333;
$body-font-color: $black;
$header-font-color: $dark;

// Border radius
$radius: 12px;
$form-element-radius: 100px;

$base-padding: 24px;
$base-padding-desktop: 48px;
$body-margin-desktop: 100px;
$body-margin: 20px;
$section-margin-desktop: 130px;
$section-margin: 70px;

// Image
$avatar: 50px;
$avatar-dim-mobile: 100px;
$avatar-dim-desktop: 100px;
